.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    }
    .lds-ripple div {
    position: absolute;
    border: 4px solid #D81B60 ;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
    0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
    }
    4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
    }
    5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
    }
    100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
    }
    }

    .loading{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .labels{
        width: 100%!important;
        /* background-color: red!important; */
        display: flex;
        padding: 20px;
        padding-top: 0;
    }
    .labels .texts h1{
        font-size: 25px;
    }
    .labels .texts{
        width: 100%;
        display: flex;
    }
    .text1{
        font-size: 16px;
        letter-spacing: -0.05rem;
        font-weight: 600;
        font-family: var(--bs-font-sans-serif);
        color: #344767;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
.text1 i{
    font-size: 30px;
    margin-right: 10px;
    color: green;
}
.inp{
    color: green;
}

.hrs{
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 10px;
}


.btns{
    background-color: transparent;
    border: 2px solid #414141;
    margin-left: 20px;
    width: 120px;
    color: white;
    font-size: 14px;
    height: 34px;
    border-radius: 5px;
}

.wid-500{
    width: 500px;
}